* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #ffffff;
    color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.brand {
    text-decoration: none;
    font-size: 30px;
    color: #000;
    font-weight: 700;
}

#check {
    display: none;
}

.icons {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 5%;
    display: none;
}

.navlinks {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: 0.3s;
}

.link:hover {
    color: #ff0000;
}

.hero {
    display: flex;
    padding: 160px 8%;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}

.heroText {
    flex: 1;
    animation: fadeIn 1.5 ease;
}

.heroImage {
    flex: 1;
}

#heroTitle {
    font-size: 48px;
    margin-bottom: 28px;
}

.heroButton {
    padding: 12px 25px;
    border: none;
    background-color: brown;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.heroButton:hover {
    background-color: #000;
    transform: scale(1.05);
}

#heroPara {
    margin-bottom: 20px;
    line-height: 1.6;
}

#furnitureImage {
    width: 100%;
    border-radius: 20px;
}

.products{
    padding:0px 8% 60px 8%;
    text-align:center;
}
.productHead {
    font-size: 35px;
    margin-bottom:40px;
}

.productContainer{
    display: flex;
    gap:25px;
    justify-content:center;
    flex-wrap:wrap; 
}
.card{
background: #ffffff;
width:300px;
padding:20px;
border-radius:15px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
transition: 0.3s;
}
.card:hover{
    transform: translateY(-10px);
}

.cardImg{
    width:100%;
    height:220px;
    border-radius:20px;
    object-fit:cover;
}
.productName{
    margin:15px 0 10px;
}
.price {
    margin-bottom: 15px;
}
.banner {
    margin: 0px 8% 60px 8%;
    padding: 0px 40px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./images/living_room.png');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-attachment: fixed;
}

.aboutHead {
    font-size: 35px;
    margin-bottom: 40px;
    color: #f2f2f2;
}

.aboutPara {
    font-size: 20px;
    margin-bottom: 40px;
    color: #d2d2d2;
}

.aboutPara {
    font-size: 20px;
    margin-bottom: 40px;
    color: #d2d2d2;
}

.aboutButton {
    font-weight: 500;
    font-size: 18px;
    background-color: #ff0000;
}

.contact {
    height: 200px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0px 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contactHead,
.subscribeHead {
    font-size: 25px;
    margin-bottom: 20px;
    color: #635140;
}

.socialIcons {
    margin-top: 20px;
}

.smLink {
    color: #635140;
    margin-right: 20px;
}



.box {
    display: flex;
}

.subInput {
    padding: 10px;
    width: 300px;
    border: solid 1px #000;
}

.subButton {
    background-color: #635140;
    color: #fff;
}

.footer {
    padding: 15px;
    color: #000;
    text-align: center;
    background-color: rgb(199, 111, 129);
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}
@media(max-width:768px) {
    .navbar {
        padding: 20px 5%;
    }

    .brand,
    .icons {
        font-size: 20px;
    }

    .icons {
        display: flex;
    }

    #cancelIcon {
        display: none;
    }

    #check:checked~.icons #menuIcon {
        display: none;
    }

    #check:checked~.icons #cancelIcon {
        display: block;
    }

    .navlinks {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        flex-direction: column;
        height: 0px;
        display: none;
    }

    #check:checked~.navlinks {
        display: block;
        height: fit-content;
    }

    .links {
        text-align: center;
        margin: 1.5rem 0px;
    }
    .hero{
        flex-direction: column;
        text-align: center;
    }
    #heroTitle{
    font-size: 38px;
    }
    
    .banner,
    .contact {
        height: fit-content;
        padding: 20px 8%;
    }
    .contactHead,
.subscribeHead {
    font-size: 16px;
    font-weight: 300;
}
}